In [1]:
#import Pandas Libarary as Pandas as pd
import pandas as pd

#reading csv file
df = pd.read_csv("s_dataset.csv")

#preprocessing
df = df.drop(columns=['Unnamed: 0','label_num'])


#printing Desired Data
print("\n\t\t\t first Ten Rows")
print(df.head(10)) #use df.head(10) instead if using jupyter notebook for batter view

print("\n\t\t\t Last Ten Rows")
print(df.tail(10)) # use df.tail(10) instead if using jupyter notebook for batter view

			 first Ten Rows
     label                                               text
0  nonSpam  Subject: enron methanol ; meter # : 988291\r\n...
1  nonSpam  Subject: hpl nom for january 9 , 2001\r\n( see...
2  nonSpam  Subject: neon retreat\r\nho ho ho , we ' re ar...
3     spam  Subject: photoshop , windows , office . cheap ...
4  nonSpam  Subject: re : indian springs\r\nthis deal is t...
5  nonSpam  Subject: ehronline web address change\r\nthis ...
6  nonSpam  Subject: spring savings certificate - take 30 ...
7     spam  Subject: looking for medication ? we ` re the ...
8  nonSpam  Subject: noms / actual flow for 2 / 26\r\nwe a...
9  nonSpam  Subject: nominations for oct . 21 - 23 , 2000\...

			 Last Ten Rows
        label                                               text
5161     spam  Subject: penny stocks are about timing\r\nnoma...
5162     spam  Subject: anomaly boys from 3881\r\nuosda apapr...
5163  nonSpam  Subject: re : meter # : 1266 ; august 2000 / a...
5164     spam  Subject: slutty milf wants to meet you\r\ntake...
5165  nonSpam  Subject: fw : crosstex energy , driscoll ranch...
5166  nonSpam  Subject: put the 10 on the ft\r\nthe transport...
5167  nonSpam  Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168  nonSpam  Subject: calpine daily gas nomination\r\n>\r\n...
5169  nonSpam  Subject: industrial worksheets for august 2000...
5170     spam  Subject: important online banking alert\r\ndea...

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5171 entries, 0 to 5170
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   5171 non-null   object
 1   text    5171 non-null   object
dtypes: object(2)
memory usage: 80.9+ KB

In [3]:
df.shape

(5171, 2)

In [4]:
#df["text"] = df["text"].str.replace(",","")   
# see i remove commas

In [5]:
df["text"]=df['text'].replace(",","",regex=True)

In [6]:
df["text"]

0       Subject: enron methanol ; meter # : 988291\r\n...
1       Subject: hpl nom for january 9  2001\r\n( see ...
2       Subject: neon retreat\r\nho ho ho  we ' re aro...
3       Subject: photoshop  windows  office . cheap . ...
4       Subject: re : indian springs\r\nthis deal is t...
                              ...
5166    Subject: put the 10 on the ft\r\nthe transport...
5167    Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168    Subject: calpine daily gas nomination\r\n>\r\n...
5169    Subject: industrial worksheets for august 2000...
5170    Subject: important online banking alert\r\ndea...
Name: text, Length: 5171, dtype: object

In [7]:
df

        label                                               text
0     nonSpam  Subject: enron methanol ; meter # : 988291\r\n...
1     nonSpam  Subject: hpl nom for january 9  2001\r\n( see ...
2     nonSpam  Subject: neon retreat\r\nho ho ho  we ' re aro...
3        spam  Subject: photoshop  windows  office . cheap . ...
4     nonSpam  Subject: re : indian springs\r\nthis deal is t...
...       ...                                                ...
5166  nonSpam  Subject: put the 10 on the ft\r\nthe transport...
5167  nonSpam  Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168  nonSpam  Subject: calpine daily gas nomination\r\n>\r\n...
5169  nonSpam  Subject: industrial worksheets for august 2000...
5170     spam  Subject: important online banking alert\r\ndea...

[5171 rows x 2 columns]

In [8]:
df.index.names=['index']

In [9]:
df.head(2)

         label                                               text
index
0      nonSpam  Subject: enron methanol ; meter # : 988291\r\n...
1      nonSpam  Subject: hpl nom for january 9  2001\r\n( see ...