In [1]:
# importing all libariries pandas,numpy,matpoltlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [28]:
# reading csv files
df = pd.read_csv("s_dataset.csv")
df = df.rename_axis(columns="index")
df

index,Unnamed: 0,label,text,label_num
0,605,nonSpam,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,nonSpam,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,nonSpam,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,nonSpam,Subject: re : indian springs\r\nthis deal is t...,0
...,...,...,...,...
5166,1518,nonSpam,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,nonSpam,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,nonSpam,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,nonSpam,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [14]:
columns_label=['a',"Sr No","Text","S_Nspam","Label"]
df.columns=columns_labels

NameError: name 'columns_labels' is not defined

In [26]:
df.S_Nspam.str.replace(",","")

0       Subject: enron methanol ; meter # : 988291\r\n...
1       Subject: hpl nom for january 9  2001\r\n( see ...
2       Subject: neon retreat\r\nho ho ho  we ' re aro...
3       Subject: photoshop  windows  office . cheap . ...
4       Subject: re : indian springs\r\nthis deal is t...
                              ...
5166    Subject: put the 10 on the ft\r\nthe transport...
5167    Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168    Subject: calpine daily gas nomination\r\n>\r\n...
5169    Subject: industrial worksheets for august 2000...
5170    Subject: important online banking alert\r\ndea...
Name: S_Nspam, Length: 5171, dtype: object

In [28]:
help(replace())

SyntaxError: invalid syntax (<ipython-input-28-60a54a0ba37d>, line 1)