In [1]:
import pandas as pd
import numpy as np

In [7]:
data =pd.Series(np.random.randn(9),
                index=[['a','a','a','d','b','b','c','d','c'],[1,2,3,1,2,3,1,2,3]])

In [8]:
display(data)

a  1   -0.655477
   2   -0.284341
   3   -0.590877
d  1   -0.789361
b  2    0.226688
   3    1.228533
c  1   -0.941837
d  2   -1.616972
c  3    0.416830
dtype: float64

In [9]:
data["b"]

2    0.226688
3    1.228533
dtype: float64

In [10]:
data[["b","c"]]

b  2    0.226688
   3    1.228533
c  1   -0.941837
   3    0.416830
dtype: float64

In [11]:
data.iloc[2]

-0.5908765032646361

In [12]:
data.loc[['b','d']]

d  1   -0.789361
b  2    0.226688
   3    1.228533
d  2   -1.616972
dtype: float64

In [14]:
data.iloc[[3,4]]

d  1   -0.789361
b  2    0.226688
dtype: float64

In [21]:
data.loc[:,3]

a   -0.590877
b    1.228533
c    0.416830
dtype: float64

In [22]:
df=data.unstack()
display(df)
df.stack()

          1         2         3
a -0.655477 -0.284341 -0.590877
b       NaN  0.226688  1.228533
c -0.941837       NaN  0.416830
d -0.789361 -1.616972       NaN

a  1   -0.655477
   2   -0.284341
   3   -0.590877
b  2    0.226688
   3    1.228533
c  1   -0.941837
   3    0.416830
d  1   -0.789361
   2   -1.616972
dtype: float64

In [23]:
data.unstack().stack()

a  1   -0.655477
   2   -0.284341
   3   -0.590877
b  2    0.226688
   3    1.228533
c  1   -0.941837
   3    0.416830
d  1   -0.789361
   2   -1.616972
dtype: float64

In [25]:
frame = pd.DataFrame(np.arange(12).reshape((4,3)),
                     index=[['a','a','b','b'],[1,2,1,2]],
                     columns=[['Ohio','Ohio','Colaredo'],["green",'red','green']])

In [30]:
frame.index.names=['key1','key2']

In [31]:
frame.columns.names=["State",'Color']

In [32]:
display(frame)

State      Ohio     Colaredo
Color     green red    green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [34]:
frame["Ohio"]

Color      green  red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

In [35]:
frame.swaplevel("key2",'key1')

State      Ohio     Colaredo
Color     green red    green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

In [42]:
frame.sort_index(level=1)

State      Ohio     Colaredo
Color     green red    green
key1 key2
a    1        0   1        2
b    1        6   7        8
a    2        3   4        5
b    2        9  10       11

In [56]:
frame.swaplevel(1,0).sort_index(level=0)

State      Ohio     Colaredo
Color     green red    green
key2 key1
1    a        0   1        2
     b        6   7        8
2    a        3   4        5
     b        9  10       11

In [64]:
#display(frame)
frame.sum(level='key2')

State  Ohio     Colaredo
Color green red    green
key2
1         6   8       10
2        12  14       16

In [65]:
frame.sum(level="Color",axis=1)

Color      green  red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10

In [85]:
a = pd.DataFrame(np.arange(12).reshape((4,3)),index=['a','b','c','d'],columns=['ali','khan','abc'])

In [93]:
b = pd.DataFrame(np.arange(9).reshape((3,3)),
                 index=['a','b','d'],columns=['ali_1','khan_1','abc_2'])

In [94]:
display(a)
display(b)

   ali  khan  abc
a    0     1    2
b    3     4    5
c    6     7    8
d    9    10   11

   ali_1  khan_1  abc_2
a      0       1      2
b      3       4      5
d      6       7      8

In [95]:
pd.merge(a,b,left_on="ali",right_on='ali_1')

   ali  khan  abc  ali_1  khan_1  abc_2
0    0     1    2      0       1      2
1    3     4    5      3       4      5
2    6     7    8      6       7      8

In [99]:
pd.merge(a,b,left_on="ali",right_index=True,how="outer")

ValueError: You are trying to merge on int32 and object columns. If you wish to proceed you should use pd.concat