In [2]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
import string

In [3]:
email = pd.read_csv("completeSpamAssassin.csv")

In [4]:
email.head()

   Unnamed: 0                                               Body  Label
0           0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1           1  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2           2  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3           3  ##############################################...      1
4           4  I thought you might like these:\n1) Slim Down ...      1

In [6]:
email.shape

(6046, 3)

In [7]:
email.columns

Index(['Unnamed: 0', 'Body', 'Label'], dtype='object')

In [10]:
email.drop_duplicates(inplace=True)

In [11]:
email.isnull().sum()

Unnamed: 0    0
Body          1
Label         0
dtype: int64

In [14]:
email[email["Body"].isnull()]

     Unnamed: 0 Body  Label
328         328  NaN      1

In [16]:
email.iloc[327:330,:]

     Unnamed: 0                                               Body  Label
327         327  \n       Socijalisticka partija Srbije, predvo...      1
328         328                                                NaN      1
329         329                                              empty      1